/others/
/venv/
/env/
/.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# PyInstaller
*.manifest
*.spec

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

/SourceCode/__pycache__

